<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head"></head>
<body>

<nav th:replace="/fragments/nav :: nav-front"></nav>

<div class="container-fluid mt-5">
    <!-- Example row of columns -->
    <div class="row">
        <div th:replace="/fragments/categories"></div>
        <div class="col"></div>
        <div class="col-7" th:utext="${page.content}"></div>
        <div class="col"></div>
    </div>

    <hr>

</div>

<footer th:replace="/fragments/footer"></footer>

</body>
</html>
